/* Estilo para el cuerpo de la página */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Estilo para el encabezado */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgb(184, 226, 184); /* Verde claro */
    padding: 10px 0; /* Espaciado superior e inferior */
}

.container {
    width: 1280px;
    margin: auto;
}

.nav_checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}

/* Caja con fondo verde claro */
.content_nav {
    background-color: rgba(184, 226, 184, 0.7); /* Verde claro con opacidad */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: left;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}

nav ul li a:hover::after {
    transform: scale(1, 1);
}


/* Estilo para la galería de imágenes */
.gallery-container {
    max-width: 100%;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 20px; /* Aumento del margen */
}

.gallery img {
    width: 100%;
    height: auto;
    margin-right: 10px; /* Mayor margen entre las imágenes */
}

/* Estilos para los botones "Anterior" y "Siguiente" */
.prev-button, .next-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.prev-button {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.next-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.prev-button:hover, .next-button:hover {
    background: rgba(0, 0, 0, 0.8);
}
