/* Estilo para el cuerpo de la página */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Estilo para el encabezado */

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgb(94, 184, 94);

}

.container{
    width: 1280px;
    margin: auto;

}

.nav_checkbox{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;

}

.logo{

    text-decoration: none;
    color: #fff;
    padding-left: 10px;

}

.tab-nav{

    outline: none;
    display: none;

}

.label{

    display: none;
    color: #fff;

}

.burger{

    width: 35px;
    height: 5px;
    background-color: #fff;
    margin-top: 5px;
    transition:all 0.5s ease;
}

input[type=checkbox]:checked ~ .label #burg0{
  opacity:0;
}

input[type=checkbox]:checked ~ .label #burg1{
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ .label #burg2{
  transform: rotate(-45deg) translate(7px, -7px);
}

.content_nav{

    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.content_nav li{

    display: inline-block;
    padding-right: 10px;

}

.content_nav li a{

    text-decoration: none;
    color: white;
    position: relative;

}

.content_nav li a::after{

    content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: left;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;

}

.content_nav li a:hover::after{

    transform: scale(1, 1);

}

.content_section{

    height: 80vh;
    background-image: url(img/casamedium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

@media screen and (max-width: 1280px){

    .container{

        width: 100%;

    }

}

@media screen and (max-width: 770px){

    .label{

        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;

    }

    .content_nav{

        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;

    }

    .nav_checkbox input:checked ~ .content_nav{

        max-height: 500px;

    }

    .content_nav li{

        padding: 15px 0px;

    }


}


/* cards */

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}



/* .main{
  max-width: 1200px;
  margin: 0 auto;
}
*/
h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #5aad68 40%, #c2ff9e 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}


.map-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 150px;
}
/* Estilo para la caja de contenido */
.content-box {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
}

.content-box p {
  color: #ffffff; /* Texto en color blanco */
  font-size: 25px;
  line-height: 1.5;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Coloca el video detrás del contenido */
}

.gallery-container {
  max-width: 100%;
  overflow: hidden;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin: 20px; /* Aumento del margen */
}

.gallery img {
  width: 100%;
  height: auto;
  margin-right: 10px; /* Mayor margen entre las imágenes */
}

/* Estilos para los botones "Anterior" y "Siguiente" */
.prev-button, .next-button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.prev-button {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.next-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.prev-button:hover, .next-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Estilo para el formulario y el footer */

/* Estilo para el formulario*/
p.obligatorio {
  color: #fa0808;
  font-size: 12px;
  font-weight: bold;
  font-style: oblique;
  margin-top: 40px;
}

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  color: #0a0a0a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  color: #080808;
  text-align: center;
}

form {
  margin-top: 80px;
}

/* Ajusta el color de las etiquetas específicas */

label[for="nombre"],
label[for="apellido"],
label[for="correo"],
label[for="telefono"],
label[for="consulta"] {
  background-color: rgb(94, 184, 94);
  color: #ffffff;

}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input[type="submit"] {
  background-color: rgb(94, 184, 94);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(94, 184, 94); /* Mantiene el mismo color de fondo al pasar el cursor sobre el botón */
}

/* Cambia el color de fondo de los labels específicos */

label[for="nombre"],
label[for="apellido"],
label[for="correo"],
label[for="telefono"],
label[for="consulta"] {
  background-color: rgb(94, 184, 94);
}

/* Estilo para el footer */

footer {
  background-color: rgb(94, 184, 94);
  padding: 20px;
  text-align: center;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.redes-sociales a {
  margin: 0 25px;
}

.redes-sociales img {
  width: 35px;
  height: 35px;
}

footer p {
  margin-top: 50px; /* Ajusta el valor del margen superior según sea necesario para separar los elementos */
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}


