/* Estilo para el video de fondo */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Coloca el video detrás del contenido */
}

/* Estilo para el nav */
nav {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px;
}

.nav-buttons {
    list-style: none;
    padding: 0;
    margin: 0; /* Eliminamos el margen predeterminado */
}

.nav-buttons li {
    display: inline;
}

.nav-buttons a {
    text-decoration: none;
    color: #ffffff; /* Texto en color blanco */
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
    padding: 10px 20px; /* Añadimos espacio alrededor de los botones */
}

.nav-buttons a:hover {
    color: #a0a0a0; /* Cambio de color al pasar el mouse */
}

/* Estilo para el contenedor del mapa y fondo beige */
body {
    background: #f5f5dc; /* Fondo beige */
    margin: 0; /* Elimina el margen predeterminado */
}

.map-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/* Estilo para la caja de contenido */
.content-box {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
}

.content-box p {
    color: #ffffff; /* Texto en color blanco */
    font-size: 25px;
    line-height: 1.5;
}